@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-256px * 8));
    }
}

.animate-marquee {
    animation: marquee 40s linear infinite;
}

.animate-marquee:hover {
    animation-play-state: paused;
}

@keyframes marquee-x {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-50% - 0.5rem));
    }
}

@keyframes marquee-y {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(-50% - 0.5rem));
    }
}

@media (prefers-reduced-motion: reduce) {

    .marquee-track-x,
    .marquee-track-y {
        animation-duration: 1ms;
        animation-iteration-count: 1;
    }
}